{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center" data-aos="fade">
                                        <h1 class="page-header-title">About</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                        <div class="container mt-3">
                            <div class="row justify-content-center z-1">
                                <div class="col-lg-8" data-aos="fade-up">
                                    <div class="card lift mb-n15">
                                        <div class="card-body p-2">
                                            <div class="video overlay bg-img-cover rounded" style="background-image: url({% static 'flairnow_assets/assets/img/header_image.jpg' %})">
                                                <a class="video-link" target="_blank" href="https://www.youtube.com/watch?v=1s-t01mo0yY&feature=youtu.be" data-lity=""><i class="fas fa-play"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <section class="bg-white py-10">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h4 class="mt-5">Our Mission</h4>
                                    <p>
                                        Opportunities are beneficial because they help develop students' professional aptitude, 
                                        strengthen personal character, and provide a greater door to opportunity. 
                                        By investing in this, students' give themselves the broadest spectrum of opportunity 
                                        when seeking and applying for a job after high school and college.
                                    </p>
                                    <p class="mb-0">
                                        With this in mind, Flair Now aims to match students with opportunities that are designed to bridge the opportunity gap. 
                                        By making sure our partner organizations are providing what is valuable to our target users, we can ensure we continue to 
                                        fulfill our mission to better help the user through their educational career and assist them in climbing the social-economic ladder.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--cta for organizations and students-->
                    {% include 'core/cta_register.html' %}
                    <!--faqs-->
                    {% include 'core/faqs.html' %}
                    <!--testimonials-->
                    {% include 'core/testimonials.html' %}
                    <!--cta newsletter-->
                    {% include 'core/cta_newsletter.html' %}
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>