{% load static %}
<!--opportunity postings and browse by type-->
<section class="bg-white py-10">
    <div class="container">
        <h2 class="mb-4" style="font-size: xx-large;">Recent Postings</h2>
        <div class="row">
            {% for internship in internships %}
            <div class="col-lg-3 col-md-6 mb-5">
                <a class="card lift border-bottom-lg border-warning" href="{% url 'core:internship-detail' internship.id %}">
                    <div class="card-body text-center">
                        <!--<div class="icon-stack icon-stack-xl bg-warning text-white mb-2">
                            <img src="{{ internship.organization.profile.image.url }}" width="auto" height="50px" class="img-fluid m-auto rounded-circle"" alt="{{ internship.organization.org_name }} Logo" />
                        </div>-->
                        <img src="{{ internship.organization.profile.image.url }}" width="auto" height="100px" class="m-auto rounded-circle"" alt="{{ internship.organization.org_name }} Logo" />
                        <div class="small text-gray-600">{{ internship.title }}</div>
                        <p class="lead text-muted small">
                            {{ internship.number_of_positions }} Positions
                        </p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <h2 class="mb-4" style="font-size: xx-large;">Browse Categories</h2>
        <div class="card-columns card-columns-portfolio">
            <a class="card card-portfolio" href="{% url 'core:internship' %}">
                <img class="card-img-top img-fluid" src="{% static 'flairnow_assets/assets/img/internships.jpg' %}" alt="Internships" />
                <div class="card-body"><div class="card-title">Internships</div></div>
            </a>
            <a class="card card-portfolio" href="#!">
                <img class="card-img-top img-fluid" src="{% static 'flairnow_assets/assets/img/scholarships.jpg' %}" alt="Scholarships" />
                <div class="card-body"><div class="card-title">Scholarships</div></div>
            </a>
            <a class="card card-portfolio" href="#!">
                <img class="card-img-top img-fluid" src="{% static 'flairnow_assets/assets/img/fellowships.jpg' %}" alt="Fellowships" />
                <div class="card-body"><div class="card-title">Fellowships</div></div>
            </a>
            <a class="card card-portfolio" href="#!">
                <img class="card-img-top img-fluid" src="{% static 'flairnow_assets/assets/img/travel_programs.jpg' %}" alt="Travel Programs" />
                <div class="card-body"><div class="card-title">Travel Programs</div></div>
            </a>
            <a class="card card-portfolio" href="#!">
                <img class="card-img-top img-fluid" src="{% static 'flairnow_assets/assets/img/events.jpg' %}" alt="Events" />
                <div class="card-body"><div class="card-title">Events</div></div>
            </a>
            <a class="card card-portfolio" href="#!">
                <img class="card-img-top img-fluid" src="{% static 'flairnow_assets/assets/img/job.jpg' %}" alt="Competitions" />
                <div class="card-body"><div class="card-title">Jobs</div></div>
            </a>
        </div>
    </div>
</section>