{% load static %}
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="text-center">Keep in touch?</h2>
                <form class="contact-form" action="https://formspree.io/xpzrgnae" method="POST">
                <div class="row">
                    <div class="col-md-6">
                    <label>Name</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-single-02"></i>
                        </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" name="Name">
                    </div>
                    </div>
                    <div class="col-md-6">
                    <label>Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="nc-icon nc-email-85"></i>
                        </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" name="_replyto">
                    </div>
                    </div>
                </div>
                <label>Message</label>
                <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..." name="Message"></textarea>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto">
                    <button class="btn btn-primary btn-block btn-lg btn-round shadow" type="submit">Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>