{% load static %}
<!--cta, newletter-->
<section class="bg-white pb-10">
    <div class="container">
        <div class="row align-items-center mt-5">
            <div class="col-lg-8">
                <h4>Get the latest updates on opportunities</h4>
                <p class="lead text-dark-500 mb-0">Stay in the loop with the latest updates and features added to our application!</p>
            </div>
            <div class="col-lg-4">
                <div class="mb-2">
                    <a class="btn btn-marketing btn-info btn-round rounded-pill" href="https://medium.com/flair-now/newsletters/flair-now" target="_blank">Sign up</a>
                </div>
                <div class="small text-dark-500">You can unsubscribe at any time.</div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-warning">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>