{% load static %}
{% if  not user.is_authenticated %}
<section class="bg-warning pb-10 pt-15" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <div class="font-weight-bold text-capitalize text-white mb-5" style="font-size: xx-large;">FAQs?</div>                                    
                </div>
            </div>
        </div>
        <div class="row mb-10 mt-5">
            <div class="col-lg-6 mb-5">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-info text-white"><i class="fas fa-question"></i></div>
                    <div class="ml-4">
                        <h5 class="text-white">What do I use Flair Now for?</h5>
                        <p class="text-white">
                            We are an opportunities platform that you can us to apply and get matched to 
                            multiple scholarships and internships through one common application. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-info text-white"><i class="fas fa-question"></i></div>
                    <div class="ml-4">
                        <h5 class="text-white">Why is signing up for Flair Now important?</h5>
                        <p class="text-white">
                            Building your path towards your future whether you have it figured out or are 
                            still exploring begins today, not tomorrow. We want to make it easier to find 
                            opportunities in your area and based on your background.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-info text-white"><i class="fas fa-question"></i></div>
                    <div class="ml-4">
                        <h5 class="text-white">How likely am I to find paid internships?</h5>
                        <p class="text-white">
                            We understand the value and importance of paid internships, which is why we allow you to browse 
                            through opportunities that fit your needs.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="d-flex h-100">
                    <div class="icon-stack flex-shrink-0 bg-info text-white"><i class="fas fa-question"></i></div>
                    <div class="ml-4">
                        <h5 class="text-white">For the common application, do I really just fill out one application for all opportunities?</h5>
                        <p class="text-white">
                            We understand that when applying to scholarships and opportunities, it gets cumbersome to manually fill out 
                            the same information for different opportunities. The universal application seamlessly helps you apply and 
                            get matched to multiple opportunities at once.We have a common application for various types of opportunities, 
                            for instance, to apply to all internships one would need to fill out only one application.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}