{% load static %}
<!--features-->
<section class="bg-light py-10" id="features">
    <div class="container">
        {% include 'core/messages.html' %}
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <div class="font-weight-bold text-capitalize text-dark mb-5" style="font-size: xx-large;">How do we help you with your Opportunities search?</div>                                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
                <div class="card text-center text-decoration-none h-100 lift">
                    <div class="card-body py-5">
                        <div class="icon-stack icon-stack-lg bg-warning text-white mb-4"><i data-feather="clipboard"></i></div>
                        <h5>Common Application for Internships & Scholarships</h5>
                        <p class="card-text small text-dark">
                            Use the common application to apply to any internship or scholarship.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                <div class="card text-center text-decoration-none h-100 lift">
                    <div class="card-body py-5">
                        <div class="icon-stack icon-stack-lg bg-warning text-white mb-4"><i data-feather="settings"></i></div>
                        <h5>Personalized Profile Settings</h5>
                        <p class="card-text small text-dark">
                            Personalize your interests and other attributes to your profile.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="150">
                <div class="card text-center text-decoration-none h-100 lift">
                    <div class="card-body py-5">
                        <div class="icon-stack icon-stack-lg bg-warning text-white mb-4"><i data-feather="user"></i></div>
                        <h5>Personalized Opportunities Matching</h5>
                        <p class="card-text small text-dark">
                            Get opportunities matched to you based on your interests.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0" data-aos="fade-up">
                <div class="card text-center text-decoration-none h-100 lift">
                    <div class="card-body py-5">
                        <div class="icon-stack icon-stack-lg bg-warning text-white mb-4"><i data-feather="mouse-pointer"></i></div>
                        <h5>Appy to Opportunities With One Click</h5>
                        <p class="card-text small text-dark">
                            Save time and effort by our one click application process.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                <div class="card text-center text-decoration-none h-100 lift">
                    <div class="card-body py-5">
                        <div class="icon-stack icon-stack-lg bg-warning text-white mb-4"><i data-feather="users"></i></div>
                        <h5>Partner Organizations That Have Your Interests In Mind</h5>
                        <p class="card-text small text-dark">
                            Our partner organizations provide resources for DACA, international, minority, low-income, and other underrepresented students.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
                <div class="card text-center text-decoration-none h-100 lift">
                    <div class="card-body py-5">
                        <div class="icon-stack icon-stack-lg bg-warning text-white mb-4"><i data-feather="lock"></i></div>
                        <h5>Your Data is Protected</h5>
                        <p class="card-text small text-dark">
                            Your data is encrypted and is managed with security in mind.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>