{% load static %}
<div class="section section-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-center mt-4 mb-5">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                    <h2 class="section-title mb-2">We've been featured in...</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-3">
                <img src="{% static 'assets/img/logos/google.svg' %}" alt="Image" height="100px" class="m-auto img-fluid">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/logos/braven.png' %}" alt="Image" height="100px" class="m-auto img-fluid">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/logos/dlf.png' %}" alt="Image" height="100px" class="m-auto img-fluid">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/logos/res.png' %}" alt="Image" height="100px" class="m-auto img-fluid">
            </div>
            <div class="col-3">
                <img src="{% static 'assets/img/logos/ru.svg' %}" alt="Image" height="200px" class="m-auto">
            </div>
        </div>
    </div>
</div>