{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center" data-aos="fade">
                                        <h1 class="page-header-title">Opportunities For You!</h1>
                                        <p class="page-header-text-white">
                                            We aggregated a pool organizations that are proactively seeking to assist and provide to our target users with various opportunities. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <!--features-->
                    {% include 'core/features.html' %}
                    <!--partner organizations-->
                    <section class="bg-white py-10">
                        <div class="container">
                            <h2 class="mb-4" style="font-size: xx-large;">Our Partner Organizations</h2>
                            <div class="row">
                                {% for item in orgs %}
                                <div class="col-lg-3 col-md-6 mb-5">
                                    <div class="card lift border-bottom-lg border-warning">
                                        {% if item.organizationbackground %}
                                        <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">
                                            {{ item.organizationbackground.get_industry_display }}
                                        </div>
                                        {% endif %}
                                        <div class="card-body text-center">
                                            <img src="{{ item.profile.image.url }}" width="auto" height="100px" class="m-auto rounded-circle"" alt="{{ item.organization.org_name }} Logo" />
                                            <div class="small text-gray-600">{{ item.org_name }}</div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!--faqs-->
                    {% include 'core/faqs.html' %}
                    <!--testimonials-->
                    {% include 'core/testimonials.html' %}
                    <!--banner-->
                    {% include 'core/banner.html' %}
                    <!--cta, newletter-->
                    {% include 'core/cta_newsletter.html' %}
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>
