{% load static %}
<footer class="footer   footer-white ">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
            <ul>
                <li>
                <a href="https://digitalstudio.dev/" target="_blank">Powered by Digital Studio</a>
                </li>
            </ul>
            </nav>
            <div class="credits ml-auto">
            <span class="copyright">
                ©
                <script>
                document.write(new Date().getFullYear())
                </script>, FlairNow
            </span>
            </div>
        </div>
    </div>
</footer>