{% load crispy_forms_tags %}
{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center">
                                        <img class="mb-4 rounded-circle" src="{{ object.organization.profile.image.url }}" style="width: 15rem;" />
                                        <h1 class="page-header-title">{{ object.organization.org_name }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-white py-10">
                        <div class="container mt-10">
                            {% include 'core/messages.html' %}
                            <div class="row">
                                <div class="col-lg-4">
                                    <ul class="list-group list-group-flush list-group-careers">
                                        <li class="list-group-item">Industry <span class="font-weight-bold">{{ object.get_industry_display }}</span><i class="fas fa-globe fa-fw text-gray-400"></i></li>
                                        <li class="list-group-item">Start Date <span class="font-weight-bold">{{ object.start_date }}</span><i class="fas fa-clock fa-fw text-gray-400"></i></li>
                                        <li class="list-group-item">End Date <span class="font-weight-bold">{{ object.end_date }}</span><i class="fas fa-clock fa-fw text-gray-400"></i></li>
                                        <li class="list-group-item">Grade Level <span class="font-weight-bold">{{ object.get_grade_level_display }}</span><i class="fas fa-bars text-gray-400"></i></li>
                                        <li class="list-group-item">GPA <span class="font-weight-bold">{{ object.get_gpa_display }}</span><i class="fas fa-star text-gray-400"></i></li>
                                        <li class="list-group-item">Degree Minimum <span class="font-weight-bold">{{ object.get_degree_display }}</span><i class="fas fa-graduation-cap text-gray-400"></i></li>
                                        <li class="list-group-item">Salary <span class="font-weight-bold">{{ object.get_salary_display }}</span><i class="fas fa-money-bill-wave-alt text-gray-400"></i></li>
                                    </ul>
                                </div>
                                <div class="col-lg-8">
                                    <h1 class="mb-4">{{ object.title }}</h1>
                                    <p class="lead mb-4">
                                        {{ object.description }}
                                    </p>
                                    <div class="card bg-white shadow-none">
                                        <div class="card-body align-items-center justify-content-between p-4">
                                            {% if object.organization == request.user %}
                                            <a class="btn btn-warning btn-marketing rounded-pill ml-2" href="{% url 'core:internship-update' object.id %}">Update</a>
                                            <a class="btn btn-danger btn-marketing rounded-pill ml-2" href="{% url 'core:internship-delete' object.id %}">Delete</a>
                                            {% endif %}
                                            {% if user.is_student and user.interncommonapp %}
                                            <a class="btn btn-info btn-marketing rounded-pill ml-2" href="{% url 'core:internship-application-create' internships=object.id %}">Apply</a>
                                            {% elif user.is_student and not user.interncommonapp %}
                                            Fill out the Internship Common Application <a class="btn btn-info btn-marketing rounded-pill ml-2" href="{% url 'users:internship-common-application-create' %}">Complete</a>
                                            {% elif not user.is_authenticated %}
                                            Login to apply <a class="btn btn-info btn-marketing rounded-pill ml-2" href="{% url 'users:login' %}">Login</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if object.organization == request.user and applicants %}
                                <h2 class="mb-4" style="font-size: xx-large;">Applicants</h2>
                                <div class="row">
                                    {% for item in applicants %}
                                        <div class="col-lg-3 col-md-6 mb-5">
                                            <a class="card lift border-bottom-lg border-warning" href="{% url 'core:internship-application-detail' item.id %}">
                                                <div class="card-body text-center">
                                                    <img src="{{ item.student.profile.image.url }}" width="auto" height="100px" class="m-auto rounded-circle"" alt="{{ item.student.first_name }} {{ item.student.last_name }}'s' Profile Picture" />
                                                    <div class="small text-gray-600">{{ item.student.first_name }} {{ item.student.last_name }}</div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <div class="alert alert-warning my-5" style="border-radius: 2rem;">
                                No Applicants Currently
                            </div>
                            {% endif %}
                        </div>
                        <div class="svg-border-rounded text-light">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>