{% load crispy_forms_tags %}
{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                {% if object.intern.org == request.user %}
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center">
                                        <img class="mb-4 rounded-circle" src="{{ object.student.profile.image.url }}" style="width: 15rem;" />
                                        <h1 class="page-header-title">
                                            {{ object.student.first_name }} {{ object.student.last_name }}
                                        </h1>
                                        <p>
                                            Status
                                            <span class="badge badge-dark rounded-pill p-2">{{ object.get_status_display }}</span>
                                        </p>
                                        <a class="btn btn-info btn-marketing rounded-pill lift lift-sm my-3 mx-2" href="{% url 'core:internship_app_update' object.id %}">Update</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    {% if object.intern.org == request.user %}
                    <section class="bg-white py-10">
                        <div class="container mt-10">
                            {% include 'core/messages.html' %}
                            <div class="row">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="list-group list-group-flush list-group-careers">
                                            <li class="list-group-item pt-0">
                                                <a class="small" href="{% url 'core:internship_applicants' object.intern.id %}"><i class="fas fa-arrow-left mr-1"></i>Back to Applicants</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="mb-5">
                                            <h3>Education</h3>
                                            <span class="font-weight-bold">School</span>
                                            <p>{{ object.student.edu.school }}</p>
    
                                            <span class="font-weight-bold">Edu Level</span>
                                            <p>{{ object.student.edu.get_edu_level_display }}</p>
    
                                            <span class="font-weight-bold">Degree</span>
                                            <p>{{ object.student.edu.get_degree_display }}</p>
    
                                            <span class="font-weight-bold">Current Major or Field</span>
                                            <p>{{ object.student.edu.major }}</p>
    
                                            <span class="font-weight-bold">Minor or Concentration</span>
                                            <p>{{ object.student.edu.con }}</p>
    
                                            <span class="font-weight-bold">Graduation Year</span>
                                            <p>{{ object.student.edu.get_grad_year_display }}</p>
    
                                            <hr /> 
    
                                            <h3>Experience</h3>
                                            <span class="font-weight-bold">Current or Preferred Role</span>
                                            <p>{{ object.student.exp.role }}</p>
    
                                            <span class="font-weight-bold">Fields</span>
                                            <p>{{ object.student.exp.field }}</p>
    
                                            <span class="font-weight-bold">Skills</span>
                                            <p>{{ object.student.exp.skills }}</p>
    
                                            <hr /> 
    
                                            <h3>Interests</h3>
                                            <span class="font-weight-bold">What do you value most when considering a company?</span>
                                            <p>{{ object.student.int.work }}</p>
    
                                            <span class="font-weight-bold">Which of these words do you relate to most?</span>
                                            <p>{{ object.student.int.values }}</p>
    
                                            <span class="font-weight-bold">What office environment would you prefer to work in?</span>
                                            <p>{{ object.student.int.env }}</p>
    
                                            <span class="font-weight-bold">What do you usually do in your spare time?</span>
                                            <p>{{ object.student.int.acts }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-5">
                                            <h5>Resume</h5>
                                            {% if object.student.exp.resume %}
                                                <a href="{{ object.student.exp.resume.url }}" target="_blank">View</a>
                                            {% else %}
                                                None
                                            {% endif %}
        
                                            <h5 class="mt-3">Cover</h5>
                                            {% if object.cover %}
                                                <a href="{{ object.cover.url }}" target="_blank">View</a>
                                            {% else %}
                                                None
                                            {% endif %}
                                        </div>
                                        <div class="mb-5">
                                            <h5>Contact</h5>
                                            <span class="font-weight-bold">Email</span>
                                            <p>{{ object.student.email }}</p>

                                            <span class="font-weight-bold">Phone</span>
                                            {% if object.student.contact.phone  %}
                                                <p>{{ object.student.contact.phone }}</p>
                                            {% else %}
                                                None
                                            {% endif %}

                                            <span class="font-weight-bold">City</span>
                                            {% if object.student.contact.city  %}
                                                <p>{{ object.student.contact.city }}</p>
                                            {% else %}
                                                None
                                            {% endif %}

                                            <span class="font-weight-bold">State</span>
                                            {% if object.student.contact.state  %}
                                                <p>{{ object.student.contact.state }}</p>
                                            {% else %}
                                                None
                                            {% endif %}

                                            <span class="font-weight-bold">LinkedIn</span>
                                            {% if object.student.contact.linkedin  %}
                                                <a href="{{ object.student.contact.linkedin }}">View</a> 
                                            {% else %}
                                                None
                                            {% endif %}
                                        </div>
                                        <div class="mb-5">
                                            <h5>Demographics</h5>
                                            <span class="font-weight-bold">Race</span>
                                            <p>{{ object.student.demo.get_race_display }}</p>

                                            <span class="font-weight-bold">Gender</span>
                                            <p>{{ object.student.demo.get_gender_display }}</p>
        
                                            <span class="font-weight-bold">Sex</span>
                                            <p>{{ object.student.demo.get_sex_display }}</p>

                                            <span class="font-weight-bold">First-Generation Student</span>
                                            <p>{{ object.student.demo.get_first_gen_display }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                    {% endif %}
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>