{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center" data-aos="fade">
                                        <h1 class="page-header-title">Scholarships</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-white">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-white py-10">
                        <div class="container">
                            {% include 'core/messages.html' %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="list-group list-group-flush list-group-careers">
                                        <li class="list-group-item pt-0 bg-white">
                                            <a class="small" href="{% url 'core:browse' %}"><i class="fas fa-arrow-left mr-1"></i>Browse</a>
                                        </li>
                                    </ul>
                                </div>
                                {% for scholarship in page_obj %}
                                <div class="col-lg-3 col-md-6 mb-5">
                                    {% if scholarship.type == "SC" %}
                                    <a class="card lift border-bottom-lg border-warning" href="{% url 'core:scholarship_detail' scholarship.id %}">
                                        <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">{{ scholarship.get_field_display }}</div>
                                        <div class="card-body text-center">
                                            <img src="{{ scholarship.org.profile.image.url }}" width="auto" height="100px" class="m-auto rounded-circle"" alt="{{ scholarship.org.org_name }} Logo" />
                                            <div class="small text-dark-600">{{ scholarship.title }}</div>
                                            <p class="text-muted text-dark">
                                                $ {{ scholarship.amount }}
                                            </p>
                                        </div>
                                    </a>
                                    {% elif scholarship.type == "ESC" %}
                                    <a class="card lift border-bottom-lg border-warning" href="{{ scholarship.link }}" target="_blank">
                                        <div class="card-flag card-flag-dark card-flag-top-right card-flag-lg">{{ scholarship.get_field_display }}</div>
                                        <div class="card-body text-center">
                                            <img src="{{ scholarship.org.profile.image.url }}" width="auto" height="100px" class="m-auto rounded-circle"" alt="{{ scholarship.org.org_name }} Logo" />
                                            <div class="small text-dark-600">{{ scholarship.title }}</div>
                                            <p class="text-muted text-dark">
                                                {{ scholarship.host }}
                                            </p>
                                        </div>
                                    </a>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-blog justify-content-center">
                                    {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link text-dark" href="{{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">«</span></a>
                                    </li>
                                    {% endif %}
                                    <li class="page-item"><div class="page-link current text-dark" href="#!">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div></li>
                                    {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">»</span></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                        <div class="svg-border-rounded text-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>