{% load static %}
<!--testimonials-->
{% if  not user.is_authenticated %}
<section class="bg-white py-10">
    <div class="container">
        <div class="row mb-10">
            <div class="col-lg-6 mb-5 mb-lg-0 divider-right">
                <div class="testimonial p-lg-5">
                    <div class="avatar avatar-xl mb-3"><img class="avatar-img" src="https://source.unsplash.com/QAB-WJcbgJk/96x96" /></div>
                    <p class="testimonial-quote text-primary">"Working with the realtor's has been a true joy. They helped us purchase our home and made the whole process so easy!"</p>
                    <div class="testimonial-name">Valerie Luna</div>
                    <div class="testimonial-position">Jefferson, GA</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial p-lg-5">
                    <div class="avatar avatar-xl mb-3"><img class="avatar-img" src="https://source.unsplash.com/MTZTGvDsHFY/96x96" /></div>
                    <p class="testimonial-quote text-primary">"Selling a home has never been so easy. The real estate group helped me prepare my home, list it, and sell it, all within a few weeks!"</p>
                    <div class="testimonial-name">Destrian Barnes</div>
                    <div class="testimonial-position">Fayetville, NC</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}