{% load static %}
<!--testimonials-->
{% if  not user.is_authenticated %}
<section class="bg-white py-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 divider-right">
                <div class="testimonial p-lg-5">
                    <div class="mb-3 text-yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="testimonial-quote text-dark">
                        "The platform was simple and easy to use. Made applying to internships user than I've done it before."
                    </p>
                    <div class="testimonial-name">
                        User
                    </div>
                    <div class="testimonial-position">New Jersey</div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial p-lg-5">
                    <div class="mb-3 text-yellow">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="testimonial-quote text-dark">
                        "Amazing solution to providing opportunities to students. Someone should have thought of this sooner."
                    </p>
                    <div class="testimonial-name">
                        User
                    </div>
                    <div class="testimonial-position">New Jersey</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}