{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 m-auto">
                                        <div class="card rounded-lg text-dark">
                                            <div class="card-body">
                                                <h3 class="title mx-auto ml-3 mb-5">Background Infomation</h3>
                                                <ul class="fa-ul pricing-list">
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-genderless text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">Gender:</span> {{ object.get_gender_display }}</span>
                                                    </li>
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-venus text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">Sex Orientation:</span> {{ object.get_sexual_orientation_display }}</span>
                                                    </li>
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-user-alt text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">Race</span> {{ object.get_race_display }}</span>
                                                    </li>
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-globe-americas text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">Citizenship:</span> {{ object.get_citizenship_display }}</span>
                                                    </li>
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-users text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">Household Size:</span> {{ object.get_household_size_display  }}</span>
                                                    </li>
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-money-check-alt text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">Household Income:</span> {{ object.get_household_income_display }}</span>
                                                    </li>
                                                    <li class="pricing-list-item">
                                                        <span class="fa-li"><i class="fas fa-user-graduate text-warning"></i></span><span class="text-dark"><span class="font-weight-bold">First- Generation College Student:</span> {{ object.get_first_gen_display }}</span>
                                                    </li>
                                                </ul>
                                                <a class="btn btn-warning btn-marketing rounded-pill lift lift-sm my-3 text-white" href="{% url 'users:background-update' object.id %}">Update</a><a class="btn btn-link btn-marketing rounded-pill" href="{% url 'users:profile' %}">Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>