{% load crispy_forms_tags %}
{% load static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Flair Now</title>
        <link href="{% static 'flairnow_assets/css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="{% static 'flairnow_assets/assets/img/logo.png' %}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    {% include 'core/nav.html' %}
                    <header class="page-header page-header-dark bg-warning" style="background-image: url({% static 'flairnow_assets/assets/img/pattern-shapes.png' %})">
                        <div class="page-header-content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center">
                                        <img class="mb-4 rounded-circle" src="{{ user.profile.image.url }}" style="width: 15rem;" />
                                        <h1 class="page-header-title">{{ user.org_name }}</h1>
                                        <a class="btn btn-info btn-marketing rounded-pill lift lift-sm my-3" href="{% url 'users:profile-update' %}">Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container">
                            {% include 'core/messages.html' %}
                            <div class="row">
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
                                    <div class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <h5 class="mb-3">Organization Information</h5>
                                            <div class="list-group list-group-flush">
                                                {% if user.organizationcontact %}
                                                <a class="list-group-item text-dark" href="{% url 'users:organizationcontact-detail' user.organizationcontact.id %}">Contact</a>
                                                {% else %}
                                                <a class="list-group-item text-dark" href="{% url 'users:organizationcontact-create' %}">Contact&nbsp;<span class="badge badge-info badge-pill px-2 text-white">Add</span></a>
                                                {% endif %}
                                                {% if user.organizationbackground %}
                                                <a class="list-group-item text-dark" href="{% url 'users:organizationbackground-detail' user.organizationbackground.id %}">Background</a>
                                                {% else %}
                                                <a class="list-group-item text-dark" href="{% url 'users:organizationbackground-create' %}">Background&nbsp;<span class="badge badge-info badge-pill px-2 text-white">Add</span></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
                                    <div class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <h5 class="mb-3">Provide An Opportunity</h5>
                                            <div class="list-group list-group-flush">
                                                {% if internships %}
                                                <a class="list-group-item text-dark" href="{% url 'core:internship-dash' %}">Internships</a>
                                                {% else %}
                                                    {% if confirmed %}
                                                        <a class="list-group-item text-dark" href="{% url 'core:internship-info' %}">Internships&nbsp;<span class="badge badge-info badge-pill px-2 text-white">Create</span></a>
                                                    {% else %}
                                                        <div class="list-group-item text-dark text-muted" href="#">Internships</div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if scholarships %}
                                                <a class="list-group-item text-dark" href="{% url 'core:scholarship-dash' %}">Scholarships</a>
                                                {% else %}
                                                    {% if confirmed %}
                                                        <a class="list-group-item text-dark" href="{% url 'core:scholarship-info' %}">Scholarships&nbsp;<span class="badge badge-info badge-pill px-2 text-white">Create</span></a>
                                                    {% else %}
                                                        <div class="list-group-item text-dark text-muted" href="#">Scholarships</div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if request.user.is_admin %}
                                                    {% if not externalopps %}
                                                    <a class="list-group-item text-dark" href="{% url 'core:external-opportunity-create' %}">External</a>
                                                    {% else %}
                                                    <a class="list-group-item text-dark" href="{% url 'core:external-opportunity-dash' %}">External</a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
                                    <div class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <h5 class="mb-3">Manage Account</h5>
                                            <div class="list-group list-group-flush">
                                                <a class="list-group-item text-dark" href="#">Account Type</a>
                                                <a class="list-group-item text-dark" href="#">Payment Information</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if user.is_admin %}
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
                                    <div class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <h5 class="mb-3">Manage Blog</h5>
                                            <div class="list-group list-group-flush">
                                                <a class="list-group-item text-dark" href="{% url 'blog:post-create' %}">New Post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </main>
            </div>
            {% include 'core/footer.html' %}
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'flairnow_assets/js/scripts.js' %}"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true
            });
        </script>
    </body>
</html>